<div class="container">
  <h2>Imágenes Aleatorias de Perros</h2>
  <div class="scrollable-container">
    <div class="image-grid">
      <div *ngFor="let image of dogImages" class="image-item">
        <img [src]="image" alt="Imagen del perro" />
      </div>
    </div>

    <h2>Libros Obtenidos</h2>
    <div *ngIf="books && books.length > 0; else noBooks">
      <ul class="book-list">
        <li *ngFor="let book of books" class="book-item">
          <strong>{{ book.title }}</strong> - {{ book.author_name }}
        </li>
      </ul>
    </div>
    <ng-template #noBooks>
      <p>No se encontraron libros.</p>
    </ng-template>

    <button>Guardar Datos</button>
    <!--(click)="saveData()"-->
  </div>
</div>